<!DOCTYPE html>
<html>
    <head>
        <title>pred_page.html</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
        <style>
            .green {
                color: green;
            }
            .red {
                color: red;
            }</style>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                var pred = document.getElementById('pred');
                var result = '{{prediction}}';
                if (result === 'Benign') {
                    pred.classList.add('green');
                } else if (result === 'Malignant') {
                    pred.classList.add('red');
                }
            });
        </script>
    </head>
    <h1 id="diag_pred"><span style="color: #5972ff">Diagnosis</span> Prediction</h1>
    <body>
        <div id="scroll_container"class="container">
            <form method="post" action="/pred">
                </label></p>
                <p><label for="radius_mean">Radius mean </label>
                    <input type="float" id="radius_mean" name="radius_mean" min="0"></p>
                <p><label for="texture_mean">Texture mean </label>
                    <input type="float" id="texture_mean" name="texture_mean" min="0"></p>
                <p><label for="perimeter_mean">Perimeter mean </label>
                    <input type="float" id="perimeter_mean" name="perimeter_mean" min="0"></p>
                <p><label for="area_mean">Area mean </label>
                    <input type="float" id="area_mean" name="area_mean" min="0" ></p>
                <p><label for="smoothness_mean">Smoothness mean </label>
                    <input type="float" id="smoothness_mean" name="smoothness_mean" min="0"></p>
                <p><label for="compactness_mean">Compactness mean </label>
                    <input type="float" id="compactness_mean" name="compactness_mean" min="0"></p>
                <p><label for="concavity_mean">Concavity mean </label>
                    <input type="float" id="concavity_mean" name="concavity_mean" min="0"></p>
                <p><label for="concave_points_mean">Concave points mean </label>
                    <input type="float" id="concave_points_mean" name="concave_points_mean" min="0"></p>
                <p><label for="symmetry_mean">Symmetry mean </label>
                    <input type="float" id="symmetry_mean" name="symmetry_mean" min="0"></p>
                <p><label for="fractal_dimension_mean">Fractal dimension mean </label>
                    <input type="float" id="fractal_dimension_mean" name="fractal_dimension_mean" min="0"></p>
                <p><label for="radius_se">Radius standard error </label>
                    <input type="float" id="radius_se" name="radius_se" min="0"></p>
                <p><label for="texture_se">Texture standard error </label>
                    <input type="float" id="texture_se" name="texture_se" min="0"></p>
                <p><label for="perimeter_se">Perimeter standard error </label>
                    <input type="float" id="perimeter_se" name="perimeter_se" min="0"></p>
                <p><label for="area_se">Area standard error </label>
                    <input type="float" id="area_se" name="area_se" min="0"></p>
                <p><label for="smoothness_se">Smoothness standard error </label>
                    <input type="float" id="smoothness_se" name="smoothness_se" min="0"></p>
                <p><label for="compactness_se">Compactness standard error </label>
                    <input type="float" id="compactness_se" name="compactness_se" min="0"></p>
                <p><label for="concavity_se">Concavity standard error </label>
                    <input type="float" id="concavity_se" name="concavity_se" min="0"></p>
                <p><label for="concave_points_se">Concave points standard error </label>
                    <input type="float" id="concave_points_se" name="concave_points_se" min="0""></p>
                <p><label for="symmetry_se">Symmetry standard error </label>
                    <input type="float" id="symmetry_se" name="symmetry_se" min="0"></p>
                <p><label for="fractal_dimension_se">Fractal dimension standard error </label>
                    <input type="float" id="fractal_dimension_se" name="fractal_dimension_se" min="0"></p>
                <p><label for="radius_worst">Radius worst </label>
                    <input type="float" id="radius_worst" name="radius_worst" min="0"></p>
                <p><label for="texture_worst">Texture worst </label>
                    <input type="float" id="texture_worst" name="texture_worst" min="0"></p>
                <p><label for="perimeter_worst">Perimeter worst </label>
                    <input type="float" id="perimeter_worst" name="perimeter_worst" min="0"></p>
                <p><label for="area_worst">Area worst </label>
                    <input type="float" id="area_worst" name="area_worst" min="0"></p>
                <p><label for="smoothness_worst">Smoothness worst </label>
                    <input type="float" id="smoothness_worst" name="smoothness_worst" min="0"></p>
                <p><label for="compactness_worst">Compactness worst </label>
                    <input type="float" id="compactness_worst" name="compactness_worst" min="0"></p>
                <p><label for="concavity_worst">Concavity worst </label>
                    <input type="float" id="concavity_worst" name="concavity_worst" min="0"></p>
                <p><label for="concavity_worst">Concave points worst </label>
                    <input type="float" id="concave_points_worst" name="concave_points_worst" min="0"></p>
                <p><label for="symmetry_worst">Symmetry worst </label>
                    <input type="float" id="symmetry_worst" name="symmetry_worst" min="0"></p>
                <p><label for="fractal_dimension_worst">Fractal dimension worst </label>
                    <input type="float" id="fractal_dimension_worst" name="fractal_dimension_worst" min="0"></p>
                <button type="submit">Submit</button>
            </form>
        </div>
        <h1><label id="pred">{{prediction}}</label></h1>
    </body>
</html>